# .vidmgr.ini
#
# this is a local file - put it in with your video files to change vidmgr options for all of the
# files in this directory and all of the directories below this point.  
#
# Note - there are no default values here.  If you do NOT specify a value, then the value from 
# a higher .vidmgr.ini file will be used.  If there is no higher file, then the value form the
# global vidmgr.ini file will be used.  If nothing is specified there, THEN the system default
# will be used
#
[vidmgr]
# 
# can the files in this directory be deleted.  
#
# specify True or False
#
# deleteallowed=

#
# what metadata tags should be used to construct the string used to identify this file on the screen
# specify a list of metadata tags (e.g. display=title episodeTitle)
#
# display=

# what string should be used to separate the above metadata when constructing the title string
# specify an arbitrary string
#
# displaysep=

#
# what metadata tags should be used to construct the string that is used to sort the videos when they
# are displayed in a list
# specify a list of metadata tags (e.g. sort=title episodeTitle)
#
# sort=

#
# which direction should the sort be
# specify up for an ascending sort or down for a descending sort
#
# sortdirection=
